Repository TingYuLC/react-ts-webpack: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint

add axios request
  build/webpack.base.conf.js
  package-lock.json
  package.json
  src/pages/Home/index.tsx
  src/pages/MovieDetail/index.tsx
  src/service/api.js
  src/service/axiosRequest.ts
  src/service/baseConfig.ts
  src/service/index.ts
  src/service/movie/api.ts
  src/service/movie/getTheaters.ts
  src/service/movie/index.js
  src/service/movie/index.ts
  src/service/movie/types.ts
  tsconfig.json
Due: eslint

add login page
  .eslintignore
  package-lock.json
  package.json
  src/App.tsx
  src/common/aes.ts
  src/pages/Login/index.less
  src/pages/Login/index.tsx
  src/pages/index.ts
  src/vendor/sjcl.js
  types/sjcl/index.d.ts
Due: stylelint, eslint

add aes-256-cbc
  package-lock.json
  package.json
  src/common/aes.ts
  src/pages/Login/index.tsx
  src/vendor/sjcl.js
  types/sjcl-all/index.d.ts
Due: eslint

add login cookies
  src/pages/Home/index.tsx
  src/pages/Login/index.tsx
  src/service/axiosRequest.ts
  src/service/baseConfig.ts
  src/service/login/api.ts
  src/service/login/index.ts
  src/service/login/signin.ts
  src/service/movie/api.ts
  src/service/movie/index.ts
  src/service/movie/types.ts
Due: eslint

add getTheaters
  src/pages/Home/index.tsx
  src/service/axiosRequest.ts
  src/service/movie/api.ts
  src/service/movie/getTheaters.ts
  src/service/movie/index.ts
  src/service/movie/types.ts
Due: eslint

modify baseURL
  src/service/baseConfig.ts
  src/service/movie/index.ts
  src/service/movie/types.ts
Due: eslint

pack
  dist/index.html
  dist/static/css/main.7614da6df7d4619ed990.css
  dist/static/css/main.c58c48f45847039f3c87.css
  dist/static/img/back.450dd55.png
  dist/static/img/right_arrow.f074129.png
  dist/static/img/search.6a61749.png
  dist/static/img/toning.8dd55ee.png
  dist/static/js/main.1549e0780846e5d7fa37.js
  dist/static/js/main.bcb29ca16b99f382c7b4.js
  dist/static/js/vendor.a91aa0afd0e223be3f4f.js
  dist/static/js/vendor.a91aa0afd0e223be3f4f.js.LICENSE
  dist/static/js/vendor.dc05f60c0165ab92f946.js
  lib/App.d.ts
  lib/common/aes.d.ts
  lib/components/Carouse/index.d.ts
  lib/components/Rating/index.d.ts
  lib/components/index.d.ts
  lib/configs/theme.d.ts
  lib/index.d.ts
  lib/pages/Header/index.d.ts
  lib/pages/Home/Poster.d.ts
  lib/pages/Home/index.d.ts
  lib/pages/Login/index.d.ts
  lib/pages/MovieDetail/index.d.ts
  lib/pages/Theme/index.d.ts
  lib/pages/index.d.ts
  lib/service/axiosRequest.d.ts
  lib/service/baseConfig.d.ts
  lib/service/index.d.ts
  lib/service/login/api.d.ts
  lib/service/login/signin.d.ts
  lib/service/movie/api.d.ts
  lib/service/movie/getTheaters.d.ts
  lib/service/movie/index.d.ts
  lib/static/index.d.ts
  lib/store/index.d.ts
  lib/store/theme/action.d.ts
  lib/store/theme/reducer.d.ts
  lib/store/theme/types.d.ts
  package-lock.json
Due: none

modify route path
  src/App.tsx
  src/pages/Header/index.tsx
  src/pages/Home/index.tsx
  src/pages/Login/index.tsx
  src/service/baseConfig.ts
Due: eslint

add cache-loader
  build/webpack.base.conf.js
  package-lock.json
  package.json
Due: none

del tsconfig.json' s lib
  tsconfig.json
Due: none

电影详情背景颜色跟随主题颜色
  src/pages/MovieDetail/index.less
  src/pages/MovieDetail/index.tsx
Due: stylelint, eslint

add introduction
  src/pages/MovieDetail/index.less
  src/pages/MovieDetail/index.tsx
  src/service/baseConfig.ts
Due: stylelint, eslint

del history
  package-lock.json
  package.json
Due: none

ts 编译优化
  tsconfig.json
  types/index.d.ts
Due: none

去除cache-loader
  build/webpack.base.conf.js
Due: none

allowSyntheticDefaultImports
  src/App.tsx
  src/components/Carouse/index.tsx
  src/components/Rating/index.tsx
  src/index.tsx
  src/pages/Header/index.tsx
  src/pages/Home/Poster.tsx
  src/pages/Home/index.tsx
  src/pages/Login/index.tsx
  src/pages/MovieDetail/index.tsx
  src/pages/Theme/index.tsx
  tsconfig.json
Due: eslint

Path conditions:
  stylelint: any of: src/**/*.{css,less}
  eslint: any of: src/**/*.{ts,tsx}
